body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    /* Quita los caracteres extraños y corrige la animación */
    /*margin-top: 20px; */
    animation: titiloAnimado 15s linear infinite;
}

@keyframes titiloAnimado {
    0% {
        transform: rotate(0deg); /* Corrige 'ratate' a 'rotate' */
    }
    100% {
        transform: rotate(360deg); /* Corrige 'ratate' a 'rotate' */
    }
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 64px);
    grid-gap: 5px;
    margin: 20px auto;
    width: 200px;
}

.casilla {
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    background-color: #00FF00; /* Verde */
    cursor: pointer;
    font-size: 36px;
    color: #000; /* Negro */
    border-radius: 50%;
    position: relative;
}

.casilla:hover {
    background-color: #FFFF00; /* Amarillo */
}

.casilla::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#mensaje {
    margin-top: 20px;
    font-size: 24px;
}


/* 24 - 10 -2023  Modifiación para modificar con  git commit -am */